Repository TesseractCoding/NeoAlgo, pull requests merged in 2020-09, with the labels that each got.

#842 Tower of Hanoi Algorithm - C
  C/README.md
  C/other/Tower_Of_Hanoi.c
Labels: C

#863 Added anagram checker with python
  Python/README.md
  Python/cp/anagram_checker.py
Labels: Python

#635 Implemented random select algorithm in python
  Python/search/README.md
  Python/search/random_select.py
Labels: Python

#484 Binary tree post order traversal in java
  Java/README.md
  Java/ds/Binary_Tree.java
  Java/ds/postorder_Traversal.java
Labels: Java

#862 First missing positive number
  C-Plus-Plus/README.md
  C-Plus-Plus/other/First_Missing_Positive_Number.cpp
Labels: C-Plus-Plus

#820 Count the Reversals-JAVA (Stack/Competitive Programming) issue #673
  Java/README.md
  Java/cp/Count_The_Reversals.java
Labels: Java, merge conflicts

#880 Detect Loop in Linked List
  Java/README.md
  Java/ds/DetectLoopLL.java
Labels: Java

#904 First non-repeating character in string, in Java
  Java/README.md
  Java/other/FirstNonRepeatingChar.java
Labels: Java

#879 Completed max and min heap Implementation
  C-Plus-Plus/README.md
  C-Plus-Plus/ds/max_min_heap.cpp
Labels: C-Plus-Plus

#893 [Java] Implementation of Optimized Bubble Sort.
  Java/README.md
  Java/sort/OptimizedBubbleSort.java
Labels: Java

#577 Z Algo
  Python/README.md
  Python/search/Z_Algorithm.py
Labels: Python

#669 Longest-Substring-Without-Repeating-Characters solution in C#
  C-Sharp/README.md
  C-Sharp/cp/LengthOfLongestSubstring.cs
Labels: C-Sharp

#560 Parenthesis_Checker in javaScript is added #488
  JavaScript/README.md
  JavaScript/ds/Parenthesis_Checker.js
Labels: JavaScript

#888 Matrixsorting issue825
  C/README.md
  C/sort/MatrixSorting.c
Labels: C

#921 Shell Sort in Python
  Python/README.md
  Python/sort/Shell_Sort.py
Labels: Python

#808 Caesar Cipher in Python
  Python/README.md
  Python/cryptography/Caesar_Cipher.py
Labels: Python

#934 mergesort in O(1) space complexity in C
  C/README.md
  C/sort/mergesort_in_O(1)_space_complexity.c
Labels: C

#565 Longest Common Subsequence in java
  Java/README.md
  Java/dp/LCS.java
Labels: Java, merge conflicts

#839 Flood Fill Algorithm using BFS and DFS
  C-Plus-Plus/README.md
  C-Plus-Plus/graphs/FloodFill.cpp
Labels: C-Plus-Plus

#942 Manacher's Algorithm - C++
  C-Plus-Plus/README.md
  C-Plus-Plus/search/Manacher's_Algorithm.cp
Labels: C-Plus-Plus

#534 Added AVL Tree - CH20
  JavaScript/README.md
  JavaScript/ds/AVLTree.js
Labels: JavaScript

#992 Cocktail sort Python
  Python/README.md
  Python/sort/cocktail_sort.py
Labels: Python

#556 Updated readme.md and created fibonacci.c using dp
  C/dp/Fibonacci.c
  C/dp/README.md
Labels: C

#971 Python Program to Merge two arrays without extra space
  Python/README.md
  Python/other/merge_sorted_arrays.py
Labels: Python

#848 CoinChange Problem in Python
  Python/README.md
  Python/dp/CoinChange.py
Labels: Python

#614 randomized selection algorithm
  C/README.md
  C/search/randomized_selection_algorithm.c
Labels: C

#926 Code added for Longest Substring without repeating characters in java
  Java/README.md
  Java/cp/LongestSubstring_without_repeating_characters.java
Labels: Java

#914 Leftmost non repeating character #868
  C-Plus-Plus/README.md
  C-Plus-Plus/cp/Leftmostnonrepeatingchar.cpp
Labels: C-Plus-Plus

#1004 Python Program to Swap Two nibbles
  Python/README.md
  Python/other/Swap_two_nibbles.py
Labels: Python

#584 Sorting algorithms written in golang
  Go/README.md
  Go/sort/bubbleSort.go
  Go/sort/countingSort.go
  Go/sort/insertionSort.go
  Go/sort/mergeSort.go
  Go/sort/quickSort.go
  Go/sort/selectionSort.go
Labels: Go

#1006 Unique no 3
  C-Plus-Plus/README.md
  C-Plus-Plus/other/Unique_Number_III.cpp
Labels: C-Plus-Plus

#1042 Unique III in Java
  Java/README.md
  Java/other/UniqueIII.java
Labels: Java

#1040 Euler Totient Function - C
  C/README.md
  C/math/Euler's_Totient_function.c
Labels: C

#866 Sudoku solver using Backtracking
  Python/README.md
  Python/other/sudoku_backtracking.py
Labels: Python

#1021 Russian Peasant in Javascript
  JavaScript/Algorithms/RussianPeasant.js
  JavaScript/README.md
Labels: JavaScript

#991 Completed double factorial issue assigned to me
  C/README.md
  C/cp/doublefactorial.c
Labels: C

#1062 Maximum Square matrix with all 1's in Java
  Java/README.md
  Java/other/MaximumSquareMatrix.java
Labels: Java

#1073 Adding code for Maximum Sum Rectangle in C-Plus-Plus Issue #937
  C-Plus-Plus/README.md
  C-Plus-Plus/dp/max_sum_rectangle.cpp
Labels: C-Plus-Plus

#1070 Maximum sum rectangle in Java
  Java/README.md
  Java/dp/MaximumSumRectangle.java
Labels: Java

#1032 Maximum square matrix size Python code
  Python/README.md
  Python/other/Maximum_Square_Matrix.py
Labels: Python

#1075 Z Algorithm in Java
  Java/Algorithms/ZAlgorithm.java
  Java/README.md
Labels: Java

#1083 Added FindAngleProblem
  Miscellaneous/HackerRank/Find_Angle_MBS.py
  Miscellaneous/HackerRank/README.md
Labels: ready-to-review

#1081 added latest code max_sum rectangle
  Python/README.md
  Python/cp/max_sum.py
Labels: Python

#1076 Unique number 3 C# code
  C-Sharp/README.md
  C-Sharp/other/Unique_Number_III.cs
Labels: C-Sharp

#1095 Sudoku Solver in C
  C/README.md
  C/other/SudokuSolver.c
Labels: C

#566 CoinChange DP problem in java for HakinCodes #497
  Java/README.md
  Java/dp/Coin_Change.java
Labels: C-Plus-Plus

#1096 C-Plus-Plus code for Maximum Square Matrix With All 1s (Issue #939)
  C-Plus-Plus/README.md
  C-Plus-Plus/dp/maxSquareMatrixWithOnes.cpp
Labels: C-Plus-Plus

#1091 Z Algorithm in Javascript
  JavaScript/Algorithms/ZAlgorithm.js
  JavaScript/README.md
Labels: JavaScript

#1094 Finding the Numbers
  C/README.md
  C/other/Find_the_numbers.c
Labels: C, plagiarism, plagiarism-review

#1100 Recursion count of sub-string in given string in Java
  Java/README.md
  Java/other/RecursionCount.java
Labels: Java

#1055 Find leftmost non repeating character in a string #868
  Python/README.md
  Python/other/left_nonRepeating_char.py
Labels: Python

#511 Added Preorder binary tree traversal in C++
  C-Plus-Plus/README.md
  C-Plus-Plus/ds/BinaryTree_PreorderTraversal.cpp
Labels: C-Plus-Plus

#1103 Painter partition
  C-Plus-Plus/README.md
  C-Plus-Plus/cp/painter_partition.cpp
Labels: C-Plus-Plus

#1114 Painters Partition problem in C
  C/README.md
  C/cp/painter_partition.c
Labels: C

#552 Added randomized selection algorithm
  C-Plus-Plus/README.md
  C-Plus-Plus/search/Randomized_Select.cpp
Labels: C-Plus-Plus, merge conflicts

#1118 Flood Fill algorithm
  Java/README.md
  Java/dp/flood_fill.java
Labels: Java

#659 Merge sort parallel
  Python/README.md
  Python/sort/Parallel_MergeSort.py
  Python/sort/Sequential_MergeSort.py
Labels: Python

#1145 added smallest subarray code
  Python/README.md
  Python/cp/smallest_sum_array.py
Labels: Python
