Repository TesseractCoding/NeoAlgo, pull requests merged in 2020-10, with the labels that each got.

#1148 Implement Belmon Ford Algorithm
  C-Plus-Plus/README.md
  C-Plus-Plus/dp/bellman_ford.cpp
Labels: C-Plus-Plus

#1147 Implementation of Dijkstra's Algorithm
  C-Plus-Plus/README.md
  C-Plus-Plus/dp/dijsktra.cpp
Labels: C-Plus-Plus

#1183 In-Order Tree Traversal
  C-Plus-Plus/README.md
  C-Plus-Plus/ds/Inorder.cpp
Labels: C-Plus-Plus

#1179 Pre-Order Tree Traversal in cpp
  C-Plus-Plus/README.md
  C-Plus-Plus/ds/preorder.cpp
Labels: C-Plus-Plus

#1181 Post-Order Tree Traversal in cpp
  C-Plus-Plus/README.md
  C-Plus-Plus/ds/postorder.cpp
Labels: C-Plus-Plus

#1178 Subsequnces recursion
  Python/README.md
  Python/other/Subsequence_recursion.py
Labels: Python

#1174 Maximum Sum Subarray - C
  C/README.md
  C/cp/max_sum_subarray.c
Labels: C

#1169 Tower of Hanoi algorithm in Golang
  Go/README.md
  Go/other/Tower_of_Hanoi.go
Labels: Go

#1193 Implement Belmon Ford Algorithm
  C/README.md
  C/ds/bellman_ford.c
Labels: C

#1173 Completed Search Insert Position
  C-Plus-Plus/README.md
  C-Plus-Plus/cp/search_insert_position.cpp
Labels: C-Plus-Plus

#1197 Rainwater harvesting in Java
  Java/README.md
  Java/other/RainWaterHarvesting.java
Labels: Java

#1164 Print all subsequences
  C-Plus-Plus/README.md
  C-Plus-Plus/cp/PrintAllSubsequences.cpp
Labels: C-Plus-Plus

#1172 #1133 Count of distinct elements in every window
  C/README.md
  C/cp/Count_Distinct_Elements_in_Every_Window.c
Labels: C

#1162 Print all codes
  C-Plus-Plus/README.md
  C-Plus-Plus/cp/printallcodes_recursion.cpp
Labels: C-Plus-Plus

#1170 add #237 Delete Node in LinkedList
  Miscellaneous/Leet-Code/#237 Delete Node in a Linked List.java
Labels: Java

#1163 Distinct_elements_in_every_window
  C-Plus-Plus/README.md
  C-Plus-Plus/cp/DistinctElementsinaWindow.cpp
Labels: C-Plus-Plus

#1149 Added Factorial_large_numbers.java
  Java/README.md
  Java/cp/Factorial_large_numbers.java
Labels: Java

#1165 C program for recurssion
  C/README.md
  C/other/recursion_string.c
Labels: C

#1225 Added armstrong number code in c++
  C-Plus-Plus/README.md
  C-Plus-Plus/math/armstrong_number.cpp
Labels: C-Plus-Plus, Hacktoberfest

#1233 Added implementation of Vigenere Cipher in C# and Updated README.md
  C-Sharp/README.md
  C-Sharp/cryptography/vigenere_cipher.cs
Labels: C-Sharp, Hacktoberfest

#1249 Catalan number
  C-Plus-Plus/README.md
  C-Plus-Plus/math/catalan_num.cpp
Labels: C-Plus-Plus, Hacktoberfest

#1282 Added Catalan number in Javascript
  JavaScript/README.md
  JavaScript/math/catalan_number.js
Labels: Hacktoberfest, JavaScript

#1259 Added iterative version of Extended Euclidean Algorithm
  C-Plus-Plus/math/Extended_Euclidean_Algorithm.cpp
Labels: C-Plus-Plus, Hacktoberfest

#1248 Z algorithm in C
  C/README.md
  C/cp/zalgorithm.c
Labels: Hacktoberfest, hacktoberfest-accepted

#1283 Catalan Number Code in C# added
  C-Sharp/README.md
  C-Sharp/math/Catalan_Number.cs
Labels: C-Sharp, Hacktoberfest

#1245 Find numbers
  Python/README.md
  Python/other/find_the_numbers.py
Labels: Python

#1273 Happiness problem java
  Java/README.md
  Java/cp/HappinessProblem.java
Labels: Hacktoberfest, Java

#1265 Catalan Number
  C/README.md
  C/cp/catalan_number.c
Labels: C, Hacktoberfest

#824 Sparse_Matrix_Representation.cpp
  C-Plus-Plus/ds/Sparse_Matrix_Representation.cpp
Labels: C-Plus-Plus

#1262 add armstrong number and update README
  Go/README.md
  Go/math/armstrong_number.go
Labels: Go, Hacktoberfest

#1292 Ugly number in Python
  Python/README.md
  Python/math/UglyNumber.py
Labels: hacktoberfest-accepted

#1303 Fast Fibonacci Last digit numbers
  C-Plus-Plus/README.md
  C-Plus-Plus/other/Fast_fibonacci_last_digit.cpp
Labels: hacktoberfest-accepted

#1216 Stable marriage
  Python/README.md
  Python/cp/stable_marriage_problem.py
Labels: hacktoberfest-accepted

#1310 Least Common Multiple
  C-Plus-Plus/README.md
  C-Plus-Plus/other/lcm.cpp
Labels: hacktoberfest-accepted

#375 Created Reverse_linked_list.c
  C/README.md
  C/ds/Reverse_linked_list.c
Labels: C, merge conflicts, no-pr-activity

#1368 Palindrome number
  C-Plus-Plus/README.md
  C-Plus-Plus/math/check_palindrome.cpp
Labels: C-Plus-Plus

#1333 Ternary search
  C/README.md
  C/search/TernarySearch.c
Labels: C

#1382 Ackerman Function #1361 solution in python
  Python/README.md
  Python/math/ackermann_function.py
Labels: Python

#1375 XOR Cipher in Python
  Python/README.md
  Python/cryptography/XOR_cipher.py
Labels: Python

#679 Added Ackermann_Function in C++
  C-Plus-Plus/README.md
  C-Plus-Plus/math/Ackermann_function.cpp
Labels: C-Plus-Plus, no-pr-activity
