Repository TesseractCoding/NeoAlgo, pull requests merged in 2020-08, with the labels that each got.

#332 updated stale action and PR and Issue templates
  .github/ISSUE_TEMPLATE/algorithm-ds-proposal.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/stale.yml
Labels: documentation, github actions

#327 Created Tim_Sort.cpp
  C++/README.md
  C++/ds/Tim_Sort.cpp
Labels: C++, under review

#295 Completed Queue using Linked List
  C++/README.md
  C++/ds/QueueLinkedList.cpp
Labels: C++, under review

#320 Priority queue
  C++/README.md
  C++/ds/Priority_Queue.cpp
Labels: C++, under review

#333 Coin Change Problem
  C++/README.md
  C++/dp/Coin_Change_Problem.cpp
  C++/dp/README.md
Labels: C++, under review

#337 added auto labeller GitHub action for merge conflicts labels
  .github/workflows/auto_label_merge_conflicts.yml
Labels: github actions

#335 Radix Sort Implementation in python
  Python/README.md
  Python/sort/Radix_Sort.py
  README.md
Labels: Python, under review

#341 added GitHub action for auto label languages in pull requests
  .github/auto_pull_requests_labeler.yml
  .github/workflows/auto_merge_conflicts_labeler.yml
  .github/workflows/auto_pull_requests_labeler.yml
Labels: github actions

#344 Reverse Linked List
  C++/README.md
  C++/ds/Reverse_linked_list.cpp
  Python/README.md
  Python/ds/Reverse_linked_list.py
Labels: C++, Python, under review

#340 Rabin Karp Algorithm implemented
  Java/README.md
  Java/cp/Rabin_Karp.java
Labels: Java, under review

#342 added GitHub action for auto label issues
  .github/issue_labeler.yml
  .github/workflows/issue_labeler.yml
Labels: github actions

#367 Added Binary Exponentiation Codes for Python and Java
  Java/README.md
  Java/math/Binary_Exponentiation.java
  Python/README.md
  Python/math/Binary_Exponentiation.py
Labels: Java, Python

#361 kadanes algorithm code in java
  Java/Algorithms/kadanes_Java.java
  Java/README.md
Labels: Java

#374 Created Ackermann_function.cpp
  C-Plus-Plus/README.md
  C-Plus-Plus/math/Ackermann_function.cpp
Labels: C-Plus-Plus

#428 Linked list
  Java/README.md
  Java/ds/linkedList.java
Labels: Java

#416 Rishikeshrajrxl
  C-Plus-Plus/README.md
  C-Plus-Plus/ds/singly linked list.cpp
Labels: C-Plus-Plus

#472 Stack
  Java/README.md
  Java/ds/Stack.java
Labels: Java

#390 Kmp branch
  C-Plus-Plus/README.md
  C-Plus-Plus/cp/Knuth–Morris–Pratt.cpp
Labels: C-Plus-Plus

#480 queue using array in cpp
  C-Plus-Plus/Queue/queue.cpp
Labels: C-Plus-Plus

#503 Solved:#issue 414
  C/README.md
  C/other/Number_of_duplicates_using_Binary_search.c
Labels: C

#453 Tree preOrder traversal code added and README updated
  Python/README.md
  Python/ds/Tree_preOrder_traversal.py
Labels: Python

#505 Kathan vakharia-Print occurence of a number in a list/array using binary search technique
  Python/README.md
  Python/miscellaneous/find_freq_using_bs.py
Labels: Python

#498 added implementation of Stack using Queue and vice-versa in Golang
  Go/README.md
  Go/ds/queue_using_stack.go
  Go/ds/stack_using_queue.go
Labels: Go

#567 Implementation of queue using stack & vice-versa
  Java/README.md
  Java/ds/QueueandStack.java
Labels: Java

#460 #406 find_num_of_digits_in_int.cpp hakincodes
  C-Plus-Plus/README.md
  C-Plus-Plus/cp/find_no_of_digits_in_int.cpp
Labels: C-Plus-Plus, merge conflicts

#683 Prims algo python ch20
  Python/README.md
  Python/graphs/Prims Algo_dynamic.py
Labels: Python

#754 Infix to Postfix conversion
  Python/README.md
  Python/ds/Infix_To_Postfix_Conversion.py
Labels: Python

#676 Prime factorisation using sieve- Python
  Python/README.md
  Python/cp/Prime_factorisation_using_sieve.py
Labels: Python

#645 kadane's Algorithm in C
  C/cp/README.md
  C/cp/maxSubArraySum.c
Labels: C

#757 Affine substitution Cipher - C++
  C-Plus-Plus/README.md
  C-Plus-Plus/cryptography/Affine_substitution_Cipher.cpp
Labels: C-Plus-Plus

#597 Added DP solution to fibonacci numbers in C++
  C-Plus-Plus/README.md
  C-Plus-Plus/dp/fibonacci_bottom_up.cpp
  C-Plus-Plus/dp/fibonacci_top_down.cpp
Labels: C-Plus-Plus

#463 Longest Common Subsequence
  C-Plus-Plus/README.md
  C-Plus-Plus/dp/README.md
  C-Plus-Plus/dp/longest_common_subsequence.cpp
Labels: C-Plus-Plus

#628 Updated Queue - all functionality.
  queue_all_functionality.c
Labels: C

#761 Merge overlapping intervals in java
  Java/README.md
  Java/cp/MergeOverlappingArray.java
Labels: Java

#768 Kosaraju's algorithm c++
  C-Plus-Plus/README.md
  C-Plus-Plus/graphs/Kosaraju_Algorithm.cpp
Labels: C-Plus-Plus

#596 Inorder Traversal Golang code for issue 415
  Go/README.md
  Go/ds/inorder_traversal_binarytree.go
Labels: Go

#482 Greedy Algorithm (Activity Selection) in JAVA with link attached in Readme file
  Java/Greedy_Algorithms/Active_Selection.java
  Java/README.md
Labels: Java

#795 Manacher's algorithm in Java
  Java/README.md
  Java/search/ManacherAlgorithm.java
Labels: Java

#608 added target sum triplets #585
  C-Plus-Plus/README.md
  C-Plus-Plus/cp/target_sum_triplets.cpp
Labels: C-Plus-Plus

#581 Linked lists Intersection
  Python/README.md
  Python/ds/linkedListIntersection.py
Labels: CH20, Python, medium

#489 Create stack.go
  Go/README.md
  Go/ds/Stack.go
Labels: Go

#777 All functionality of Stack in Javascript
  JavaScript/README.md
  JavaScript/ds/Stack.js
Labels: JavaScript

#500 Added solution for Edit Distance
  C-Plus-Plus/README.md
  C-Plus-Plus/dp/edit_distance.cpp
Labels: C-Plus-Plus

#432 Finding number of digits in an integer(TesseractCoding#406)
  Java/README.md
  Java/ds/queue.java
  Java/math/countDigits/iterative.java
  Java/math/countDigits/recursive.java
  Java/math/countDigits/stringmethod.java
Labels: Java

#689 Target Sum triplets in Python
  Python/README.md
  Python/cp/Target_Sum_Triplet.py
Labels: merge conflicts

#444 Caeser cipher
  Java/README.md
  Java/cryptography/caeserCipher.java
Labels: Java

#491 sleepsort.js is added #411
  JavaScript/README.md
  JavaScript/sort/sleepSort.js
Labels: JavaScript

#483 Finding number of digits in an integer in JS #406
  JavaScript/README.md
  JavaScript/math/CountDigits_Integer.js
Labels: JavaScript

#841 Sorting of given matrix
  Java/README.md
  Java/ds/MatrixSorting.java
Labels: Java

#813 Affine_Substitution_Cipher
  C/README.md
  C/cryptography/Affine_Substitution_Cipher.c
Labels: C

#447 added string rotation program in CPP
  C-Plus-Plus/README.md
  C-Plus-Plus/other/string_rotation.cpp
Labels: C-Plus-Plus

#646 Added Python code to find triplets whose sum is zero from a given array.
  Python/README.md
  Python/other/find_Triplets_with_zero_sum.py
Labels: CH20, Python

#847 Tower of Hanoi in Java
  Java/README.md
  Java/other/TowerOfHanoi.java
Labels: Java

#606 Sll
  C/README.md
  C/ds/singly_linked_list.c
Labels: C, merge conflicts

#829 Added 2-D_Matrix Sorting
  C-Plus-Plus/README.md
  C-Plus-Plus/cp/2-D_MatrixSorting.cpp
Labels: C-Plus-Plus

#690 Target Sum Triplets in Golang
  Go/README.md
  Go/cp/target_sum_triplets.go
Labels: Go

#861 Check if 2 strings are anagrams or not #860
  C-Plus-Plus/README.md
  C-Plus-Plus/cp/check_anagrams.cpp
Labels: C-Plus-Plus

#450 Finding number of digits in an integer(TesseractCoding#406)
  C-Sharp/README.md
  C-Sharp/math/Finding_no_of_digits_in_an_integer.cs
Labels: C-Sharp
